:root {
  --color-orange: #ff6f0f; /* Active buttons, text */
  --color-light-orange: #ffbd91; /* Passive buttons */
  --color-pastel-orange: #ff7955; /* Logo, accent */
  --color-white: #ffffff; /* Buttons, text */
  --color-grey-main: #323232; /* Background */
  --color-grey-additional: #303030; /* Background2 */
  --color-dark-grey: #2a2a2a; /* Cards */
  --color-black: #000000; /* Footer */
  --color-gray: #d9d9d980; /* Background3 */
  --color-grey: #a5a1a1; /* Email Icon */
  --color-grey-light: #c3c3c3; /* Box Newsletter */
  --color-grey-box: #9d9d9d; /*Input Newsletter*/
}
