.container {
  text-align: center;
  background-color: var(--color-grey-main);
  padding-bottom: 120px;
  padding-top: 50px;
}

.text {
  margin-bottom: 20px;
  color: var(--color-white);
}
.text p {
  font-size: 24px;
  font-weight: 600;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 22%;
  margin: 10px;
  text-align: left;
  background-color: var(--color-black);
  border-radius: 8px;
}

.card h3,
.card h4,
.card p {
  text-align: left;
  margin-left: 10px;
  font-weight: 500;
}

.card h3,
.card p {
  color: var(--color-white);
}
.card h3 {
  font-size: 20px;
}
.card p {
  margin-bottom: 38px;
}
.card h4 {
  color: var(--color-orange);
  font-size: 20px;
}

.image {
  width: 100%;
  margin-bottom: 35px;
  height: auto;
  border-radius: 8px;
}

.rectangle {
  position: absolute;
  bottom: 0;
  top: 70%;
  left: 0;
  width: 0;
  height: 0;
  border-right: 43px solid transparent;
  border-top: 335px solid var(--color-grey-main);
  margin-left: 29.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);
}

.button {
  position: absolute;
  bottom: 250px;
  left: -20px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-image: url("../../..//../assets/icons/righticon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transform: rotate(90deg);
}

.meetTeam {
  color: var(--color-orange);
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  text-decoration: underline;
}
