.heroBg {
  position: relative;
  width: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center center;
  border-bottom: 10px solid var(--color-orange);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 80px;
}
