.footerTopBg {
  background: var(--color-black);
}

.footerTop {
  padding: 60px 0 40px;
  display: flex;
  color: var(--color-white);
}

.topImg {
  margin-bottom: 40px;
}

.logosBox {
  border-right: 2px solid var(--color-white);
  margin-right: 20px;
  width: 25%;
  max-width: 300px;
  padding-right: 20px;
  margin-right: 120px;
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 25px;

  img {
    max-width: 113px;
    width: 100%;

    &:first-child {
      display: block;
    }
  }
}

.mainBox {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  gap: 130px;
}

.linksWrap {
  display: flex;
  gap: 25px;
  width: 50%;
}

.linksBox {
  max-width: 100px;
  width: 100%;
  margin-bottom: 20px;

  &.linksBoxSpace {
    margin-bottom: 40px;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.linksTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 24px;
}

.linkItem {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.contactBox {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.contactInfo {
  max-width: 250px;
  width: 100%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 30px;

  span {
    color: var(--color-orange);
    margin-bottom: 20px;
  }
}

.contactContainer {
  display: flex;
  gap: 20px;
}

.mapImg {
  margin-bottom: 10px;
}
.address,
.phone {
  margin-bottom: 15px;
}

.email,
.address,
.phone {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 20px;
}

.footerBottom {
  background: var(--color-white);
  color: var(--color-dark-grey);
}

.footerBottomBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 27px;
}

.footerBottomLeft {
  display: flex;
  width: 50%;

  li {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: block;
  }
}

.footerBottomRight {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
